@use '../mixins/responsive.scss' as *;

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../../assets/images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-color: #ff7979;
  font-family: 'Poppins', sans-serif;

  @include responsive(desktop) {
    background-image: url(../../assets/images/bg-intro-desktop.png);
  }
}
