html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  background-color: #ff7979;
  background-image: url(../../assets/images/bg-intro-mobile.png);
  color: white;

  @include responsive(desktop) {
    background-image: url(../../assets/images/bg-intro-desktop.png);
  }
}
