.link {
  font-weight: 700;
  color: #ff7979;
}

.button--green {
  font-weight: 600;
  font-size: 15px;
  line-height: 26px;
  width: 100%;
  padding: 15px 0;
  background-color: #38cc8b;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 -4px #00000010;
  margin-bottom: 8px;
}
