.form {
  padding-block: 24px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  &__item {
    width: 279px;
    height: 56px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 20px;
  }
}
