@use '../mixins/responsive.scss' as *;

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  margin-inline: 24px;
  margin-block: 88px;
  color: white;

  @include responsive(desktop) {
    align-items: center;
    flex-direction: row;
    padding-inline: 165px;
    padding-block: 121px;
    margin: 0;
  }
}
